

#container-cart{
    margin-top: 60px !important;


    background-color: #fff8f4 !important;
    border-radius: 42px;
    margin-bottom: 60px;
    border: 1px solid #9d8e81;

}
#text-your-cart {
    color: #ffb865 !important;
}

#badge-counter {
    background-color: #ffb865 !important;
}

.pagination {
    --bs-pagination-color: #2e2c25 !important;
}

#table-cart {
    border-radius: 12px;
}

#button-store {
    background-color: #ffffff;
}

#buttonSubmit {
    margin-bottom: 60px;
    --bs-btn-bg:  #ffb865;
    --bs-btn-border-color:  #ffb865;
    --bs-btn-hover-bg: #ffe1cb !important;
    --bs-btn-hover-border-color: #ffe1cb !important;
}

#container-items-list {

    background-color: #fff8f4 !important;
    border-radius: 16px;
    border: 1px solid #9d8e81;

}

#container-main {
    margin-top: 0px !important;
}

#sidebar-summary {
    background-color: #fff8f4 !important;
    width: 280px;
    overflow: hidden;
    border-left: 1px solid #9d8e81;

    display: flex;
    flex-direction: column;
}

.flex-grow-1 {
    flex-grow: 1;
}

#text-remove {
    color: #56633c !important;
}

#list-heading, #text-items, #list-bottom {
    color: #875200 !important;
}

